<h1>New client</h1>

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <%= render "form", client: @client %>
  </div>
</div>

<div>
  <%= link_to "Back to clients", clients_path %>
</div>
